.body{
    background-color: grey;
    align-content: center;
}

.div{
    background-color: whitesmoke;
    width: 80%;
    height: 50px;
    text-align: center;
    display: block;
    margin: 10px 10% 10px 10%;
}

#p{
    align-content: center;
    font-family: Times;
}

.section1{
    background-color: whitesmoke;
    padding: 60px 30px;
    margin: 0 1% 0 10%;
    align-content: center;
    display: inline;
    float: left;
    width: 40%;
    position: relative;
}

.section2{
    background-color: whitesmoke;
    padding: 60px 30px;
    margin: 0 10% 0 1%;
    align-content: center;
    display: inline;
    float: right;
    width: 30%;
    position: relative;
}

.footer{
    background-color: whitesmoke;
    width: 80%;
    height: 50px;
    text-align: center;
    display: block;
    margin: 10px 10% 10px 10%;
    display: block;
    z-index: 2;
}

